DDA/Web References/com.findbomag.www/MapReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadReportData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="legendTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadReportDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadReportDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadReportDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadReportData" />
  </wsdl:message>
  <wsdl:message name="UploadReportDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadReportDataResponse" />
  </wsdl:message>
  <wsdl:portType name="MapReportServiceSoap">
    <wsdl:operation name="UploadReportData">
      <wsdl:input message="tns:UploadReportDataSoapIn" />
      <wsdl:output message="tns:UploadReportDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MapReportServiceSoap" type="tns:MapReportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadReportData">
      <soap:operation soapAction="http://tempuri.org/UploadReportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MapReportServiceSoap12" type="tns:MapReportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadReportData">
      <soap12:operation soapAction="http://tempuri.org/UploadReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapReportService">
    <wsdl:port name="MapReportServiceSoap" binding="tns:MapReportServiceSoap">
      <soap:address location="http://www.findbomag.com/admin/WebServices/MapReportService.asmx" />
    </wsdl:port>
    <wsdl:port name="MapReportServiceSoap12" binding="tns:MapReportServiceSoap12">
      <soap12:address location="http://www.findbomag.com/admin/WebServices/MapReportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>